[Unit]
Description=Run Sermo notification delivery every minute

[Timer]
OnBootSec=1min
OnUnitActiveSec=1min
AccuracySec=5s
RandomizedDelaySec=20s
Persistent=true
Unit=sermo-notification-digests.service

[Install]
WantedBy=timers.target
